.color-picker {
  display: none;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: 150px repeat(3, 40px);
  width: 0px;
  height: 0px;
  margin: 5px;
  // gap: 10px;
  padding: 15px;
  grid-row-gap: 5px;
  position: absolute;
  top: 40%;
  z-index: 7;
  border-radius: 5px;

  background-color: rgba($color-blue, 0.95);
  box-shadow: 0px 4px 4px rgba($color-default-black, 0.25);

  font-family: $font-family--roboto;
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  text-align: center;

  .pallete {
    grid-area: 1 / 1 / 2 / 5;
    border-radius: 5px;
    cursor: url("../img/svg/pipette-tool.svg") 0 30, crosshair;
  }
  .transparency {
    grid-area: 2 / 1 / 3 / 4;
    margin: 5px 7.5px;
    border-radius: 5px;
    cursor: crosshair;
  }
  .new-color {
    grid-area: 2 / 4 / 3 / 5;
    background: rgb(9, 255, 0);
    margin: 5px;
    border-radius: 5px;
    cursor: crosshair;
  }

  .btn-RGBA_container {
    grid-area: 3 / 1 / 4 / 5;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    #input-R, #input-G, #input-B, #input-A  {
      width: 40px;
      height: 30px;
      border-radius: 5px;

      background-color: $color-light-gray;
      border: 0;
      color: $color-blue;

      color: $color-light-xxl-gray;

      background: rgba($color-light-gray, 0.5);
      border-radius: 5px;
      font-weight: 300;
      padding: 0 3px;

      &::placeholder {
        color: $color-gray;
      }

      &:focus {
        transform: scale(1.03);
        box-shadow: 0px 2px 4px rgba($color-default-black, 0.25);
        background-color: $color-dark-gray;
      }
    }
    span {
      margin-left: 3px;
    }
  }

  .btn-user-answer_container {
    grid-area: 4 / 1 / 5 / 5;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    #OK, #Cancel {
      // width: 80px;
      padding: 5px 10px;
      text-align: center;
      border-radius: 5px;

      background: rgba($color-light-gray, 0.3);
      border: 0;
      color: $color-blue;
      color:  $color-light-xxl-gray;
      font-weight: 300;
      cursor: pointer;

      &:hover {
        background: rgba($color-light-gray, 0.5);
        // background: rgb(120, 120, 120);
      }
    }
  }
  &.open {
    display: grid;
    width: 330px;
    height: 310px;
    animation-duration: 2s;
    animation-name: slidein;
  }
  @keyframes slidein {
    from {
      margin-left: -100%;
    }

    to {
      margin-left: 0%;
    }
  }
}

