.color-picker {
  display: none;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: 150px repeat(3, 40px);
  width: 0px;
  height: 0px;
  margin: 5px;
  // gap: 10px;
  padding: 15px;
  border-radius: 10px;
  grid-row-gap: 5px;
  background: rgb(64, 64, 64);
  position: absolute;
  top: 40%;
  z-index: 2;
  border-radius: 5px;

  .pallete {
    grid-area: 1 / 1 / 2 / 5;
    border-radius: 5px;
  }
  .transparency {
    grid-area: 2 / 1 / 3 / 4;
    margin: 5px 7.5px;
    border-radius: 5px;
  }
  .new-color {
    grid-area: 2 / 4 / 3 / 5;
    background: rgb(9, 255, 0);
    margin: 5px;
    border-radius: 5px;
  }

  .btn-RGBA_container {
    grid-area: 3 / 1 / 4 / 5;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    #input-R, #input-G, #input-B, #input-A  {
      width: 40px;
      height: 30px;
      border-radius: 5px;
    }
    span {
      margin-left: 3px;
    }
  }

  .btn-user-answer_container {
    grid-area: 4 / 1 / 5 / 5;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    #OK, #CANÐ¡EL {
      width: 80px;
      text-align: center;
      color: #fff;
      background: rgb(64, 64, 64);
      border-radius: 5px;
      &:hover {
        background: rgb(120, 120, 120);
      }
    }
  }
  &.open {
    display: grid;
    width: 330px;
    height: 310px;
    animation-duration: 2s;
    animation-name: slidein;
  }
  @keyframes slidein {
    from {
      margin-left: -100%;
    }

    to {
      margin-left: 0%;
    }
  }
}

