.copyright {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 40px;
    align-items: center;
    font-family: serif;
    font-size: 16px;
  
    &__logo-rs {
      width: 70px;
      transition: 0.2s ease-in-out;
  
      &:hover {
        transform: scale(1.1);
      }
    }
  
    &__year {
      font-weight: bold;
      margin: 0 5px;
    }
  
    &__student-link {
      color: inherit;
      margin: 0 5px;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
  
  }