.main {
    background-color: $color-dark-green;
  
    .container {
      display: grid;
      grid-template-columns: 65px auto 200px;
      grid-template-rows: 50px auto 50px;
      grid-column-gap: 5px;
      grid-row-gap: 5px;
      padding: 5px;
      width: calc(100vw - 20px);
      margin: 0 auto;
      min-width: $viewport--sm - 20px;
  
      @include viewport--sm {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
  
      &.container-full-screen {
        display: flex;
        height: calc(100vh - 120px);
  
        @include viewport--sm {
          .nav.menu {
            height: calc(100vh - 291px);
          }
  
          .container-list-nav.container-list-menu {
            height: calc(100vh - 270px);
          }
        }
      }
    }
}