.modal--open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: 350px;
  position: absolute;
  background-color: #16323B;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  padding: 10px;
  border-radius: 5px;

  &__content {
    display: flex;
    flex-wrap: wrap;

    &__btn {
      height: 50px;
      margin: 0 10px;
      padding: 10px;
      margin-bottom: 5px;

      color: #E9ECEF;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      background: rgba(206, 212, 218, 0.2);
      outline: none;
      border: 0;
      border-radius: 5px;
      padding: 5px;
      cursor: pointer;
    }

    &__cancel {
      width: 100px;
      padding: 10px;
      margin: 0 auto;
      color: #E9ECEF;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      background: rgba(206, 212, 218, 0.2);
      outline: none;
      border: 0;
      border-radius: 5px;
      padding: 5px;
      cursor: pointer;
    }

    &__btn:hover,
    &__cancel:hover {
      color: #F8F9FA;
    }
  }
}
