.svg-work-area {
  background-color: white;
  box-shadow: 0px 0px 10px 0px #000;
  margin: auto;
  flex-shrink: 0;
  border: none;
  #select-frame {
    pointer-events: none;
  }
  text {
    user-select: none;
  }
}
