.tools-top {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 46px;
    background-color: $color-gray;

    &__menu-area {
      display: flex;
      min-width: 100px;
      min-height: 36px;
      margin-right: 50px;

      button, label {
        border: 0;
        padding: 0 10px;
        display: flex;
        align-items: center;

        font-family: $font-family--roboto;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;

        color: $color-dark-blue;
        background-color: transparent;
      }

        button:hover,
        label:hover {
          cursor: pointer;
          background: rgb(220, 200, 180);
        }

    }

    &__functional-area {
      height: 100%;
    }

    &__functional-area__rect,
    &__functional-area__circle,
    &__functional-area__line,
    &__functional-area__text,
    &__functional-area__ellipse,
    &__functional-area__pencil,
    &__functional-area__align {
        height: 100%;
        display: flex;
        background-color: gray;

        .tools-top__functional-area__container {
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 32px;
            height: 32px;
          }

          &__btn--click,
          &__btn--keyup {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 4px;
            padding: 2px;
            border: 0;
            border-radius: 5px;
          }

          &__btn--keyup {
            width: 75px;
          }

          &__btn--click {
            cursor: pointer;
          }

          &--family,
          &--select-anchor {
            max-height: 30px;
            margin: 5px;
            border-radius: 5px;
          }

        }
    }

    &__switcher-area {

      &__switcher-lang {
        display: none;
      }

      [for="switcher-lang"] {
        position: relative;
        display: flex;
        align-items: center;
        width: 80px;
        height: 28px;
        padding: 14px;
        padding-left: 11px;
        border-radius: 5px;
        color: $color-light-xxl-gray;
        line-height: 11px;
        background: $color-dark-blue;
        // box-shadow:
        //   0 1px 0 rgba(255,255,255,.2),
        //   inset 0 0 0 5px rgb(60, 60, 60),
        //   inset 0 6px 6px rgba(0,0,0,.5),
        //   inset 0 -6px 1px rgba(255,255,255,.2);
        cursor: pointer;
        font-family: $font-family--roboto;
        font-weight: 400;
      }

      [for="switcher-lang"]::before {
        content: "EN";
        position: absolute;
        right: 11px;
        color: $color-light-xxl-gray;
        font-family: $font-family--roboto;
      }

      [for="switcher-lang"]::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        display: block;
        width: 40px;
        height: 28px;
        border-radius: 5px;
        // background: #ccc linear-gradient(#fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        background-color: $color-light-gray;
        transition: .5s;
      }

      &__switcher-lang:checked ~ [for="switcher-lang"]::after {
        left: 40px;
      }
    }
}

.visibility {
  display: none;
}
