* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tools-top {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    border: black solid 1px;

    &__menu-area {
      display: flex;
      min-width: 100px;
      min-height: 40px;
      margin-right: 50px;

      background-color: gray;

      button, label {
        // width: 59px;
        height: 44px;
        border-radius: 5px;
        margin: 1px;
        background-color: white;
        border: 2px solid black;
        display: flex;
        align-items: center;
      }

        button:hover,
        label:hover {
          cursor: pointer;
          background: rgb(220, 200, 180);
        }

    }

    &__functional-area {
        display: flex;
        min-height: 40px;

        background-color: gray;

        &__rect,
        &__circle,
        &__line,
        &__text,
        &__ellipse,
        &__align {
          display: flex;
          min-height: 40px;
          background-color: gray;
        }

        &__btn-delete,
        &__btn-convert,
        &__btn-left,
        &__btn-right,
        &__btn-top,
        &__btn-bottom,
        &__btn-center,
        &__btn-middle {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 30px;
          max-width: 30px;
          width: 100%;
          margin: 5px;
          padding: 0;
          border: 0;
          border-radius: 5px;
          cursor: pointer;
        }

        &__btn-delete:hover,
        &__btn-convert:hover,
        &__btn-left:hover,
        &__btn-right:hover,
        &__btn-top:hover,
        &__btn-bottom:hover,
        &__btn-center:hover,
        &__btn-middle:hover {
          background-color: antiquewhite;
        }

        &__btn-delete:active,
        &__btn-convert:active,
        &__btn-left:active,
        &__btn-right:active,
        &__btn-top:active,
        &__btn-bottom:active,
        &__btn-center:active,
        &__btn-middle:active {
          transform: scale(1.05);
          outline: none;
        }

        &__btn-delete:focus,
        &__btn-convert:focus,
        &__btn-left:focus,
        &__btn-right:focus,
        &__btn-top:focus,
        &__btn-bottom:focus,
        &__btn-center:focus,
        &__btn-middle:focus  {
          outline: none;
        }

        &__btn-id,
        &__btn-class,
        &__btn-angle,
        &__btn-blur,
        &__btn-x,
        &__btn-y,
        &__btn-width,
        &__btn-height,
        &__btn-cx,
        &__btn-cy,
        &__btn-r,
        &__btn-x1,
        &__btn-y1,
        &__btn-x2,
        &__btn-y2,
        &__btn-size,
        &__btn-mark,
        &__btn-rx,
        &__btn-ry {
          min-width: 40px;
          max-width: 80px;
          max-height: 30px;
          width: 100%;
          height: 100%;
          margin: 5px;
          border-radius: 5px;
          border: none;
          padding: 0px 5px;
        }

        &__btn-id:focus,
        &__btn-class:focus,
        &__btn-angle:focus,
        &__btn-blur:focus,
        &__btn-x:focus,
        &__btn-y:focus,
        &__btn-width:focus,
        &__btn-height:focus,
        &__btn-cx:focus,
        &__btn-cy:focus,
        &__btn-r:focus,
        &__btn-x1:focus,
        &__btn-y1:focus,
        &__btn-x2:focus,
        &__btn-y2:focus,
        &__btn-size:focus,
        &__btn-mark:focus,
        &__btn-rx:focus,
        &__btn-ry:focus,
        &__btn-id:active,
        &__btn-class:active,
        &__btn-angle:active,
        &__btn-blur:active,
        &__btn-x:active,
        &__btn-y:active,
        &__btn-width:active,
        &__btn-height:active,
        &__btn-cx:active,
        &__btn-cy:active,
        &__btn-r:active,
        &__btn-x1:active,
        &__btn-y1:active,
        &__btn-x2:active,
        &__btn-y2:active,
        &__btn-size:active,
        &__btn-mark:active,
        &__btn-rx:active,
        &__btn-ry:active {
          outline: none;
          box-shadow: inset 0px 0px 5px 0px #9E9996;
        }

        &__select-family,
        &__select-anchor {
          max-height: 30px;
          margin: 5px;
          border-radius: 5px;
        }
    }

    &__switcher-area {

      &__switcher-lang {
        display: none;
      }

      [for="switcher-lang"] {
        position: relative;
        display: flex;
        align-items: center;
        width: 100px;
        height: 10px;
        padding: 15px;
        border-radius: 50px;
        color: #31b3ff;
        line-height: 10px;
        background: rgb(71, 71, 71);
        box-shadow:
          0 1px 0 rgba(255,255,255,.2),
          inset 0 0 0 5px rgb(60, 60, 60),
          inset 0 6px 6px rgba(0,0,0,.5),
          inset 0 -6px 1px rgba(255,255,255,.2);
        cursor: pointer;
      }

      [for="switcher-lang"]::before {
        content: "OFF";
        position: absolute;
        right: 15px;
        color: #000;
      }

      [for="switcher-lang"]::after {
        content: "";
        position: absolute;
        left: 5px; top: 5px;
        display: block;
        width: 45px;
        height: 20px;
        border-radius: 50px;
        background: #ccc linear-gradient(#fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        transition: .5s;
      }

      &__switcher-lang:checked ~ [for="switcher-lang"]::after {
        left: 50px;
      }
    }
}

.visibility {
  display: none;
}
