.tools-left {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - 176px);

    background-color: $color-gray;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 4px rgba($color-default-black, 0.25);
      box-shadow: 2px 4px 4px rgba($color-default-black, 0.25);
      width: 40px;
      height: 40px;
      border-radius: 5px;
      background-color: $color-light-xl-gray;
      border: 0;
      padding: 0;
      margin-bottom: 3px;
      position: relative;

      &#fill,
      &#stroke {
        height: 83px;
      }

      &#select,
      &#rect,
      &#ellipse,
      &#line {
        padding-left: 2px;
      }

      &.active {
      // &.active:not(#fill) {
        background-color: $color-orange;
      }

      &#fill.active {
        background-size: 50%;
      }

      svg {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &#fill,
      &#stroke {
        position: relative;

        svg {
          position: absolute;
          left: 5px;
          bottom: 5px;
          fill: $color-default-white;
        }

        &::before {
          content: "";
          width: 40px;
          height: 41px;
          background-image: url("../img/sprite/icon-fill.svg");
          background-repeat: no-repeat;
          background-size: 30px 30px;
          background-position: 6px 5px;
          // background-color: #fff;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

          position: absolute;
          left: 0;
          top: 0;
        }

        &::after {
          content: "";
          width: 40px;
          height: 2px;

          background-color: $color-dark-blue;
        }

        &#stroke::before {
          background-image: url("../img/sprite/icon-stroke.svg");
        }

        &.active {
          background-color: $color-light-xl-gray;

          &::before {
            background-color: $color-orange;
          }
        }

        &:hover:not(.active) {
          background-color: $color-light-xl-gray;

          &::before {
            background-color: $color-dark-gray;
          }
        }
      }

      &:active {
        transform: scale(0.97);
      }

      &:hover:not(.active) {
        background-color: $color-dark-gray;
      }

      &:hover {
        cursor: pointer;

        .tooltip {
          display: flex;
          opacity: 1;
        }
      }
    }

    .tooltip {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-dark-blue;
      color: $color-light-xxl-gray;
      border-radius: 5px;
      padding: 10px;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      display: none;
      opacity: 0;
      z-index: 3;
      box-shadow: 0px 4px 4px rgba($color-default-black, 0.25);

      &::before {
        content: "";
        position: absolute;
        top: 7px;
        left: -10px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $color-dark-blue;
        border-bottom: 5px solid transparent;
        transform: rotate(90deg);
      }
    }

    .tooltip-right {
      left: 50px;
    }
}
