.tools-top {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2px;
    border: black solid 1px;

    &__menu-area {
        min-width: 100px;
        min-height: 40px;
        margin-right: 50px;

        background-color: gray;
    }

    &__functional-area {
        min-width: 100px;
        min-height: 40px;

        background-color: gray;
    }

    // button {
    //     width: 59px;
    //     height: 44px;
    //     border-radius: 5px;
    //     margin: 1px;
    // }
    
    // button:hover {
    //     cursor: pointer;
    //     background: rgb(220, 200, 180);
    // }
}