.toolsRight_container {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 2px;
    border: black solid 1px;
    height: calc(100vh - 240px);

    button {
        width: 59px;
        height: 44px;
        border-radius: 5px;
        margin: 1px;
    }
    
    button:hover {
        cursor: pointer;
        background: rgb(220, 200, 180);
    }
}