.tools-bottom {
  grid-area: 3 / 1 / 4 / 4;

  width: 100%;
  height: 55px;

  background-color: $color-gray;
  padding: 0 46px;

  &__container {
    display: flex;
    align-items: center;
    overflow: auto;
    height: 100%;
    width: 100%;
  }

  button {
    cursor: pointer;

    &:hover {
      background-color: $color-light-gray;
    }
  }

  &__new-tab-button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    background-color: $color-light-xxl-gray;
    box-shadow: 0px 1px 4px rgba($color-default-black, 0.25);

    &:active {
      transform: scale(0.97);
    }
  }

  &__control-wrap {
    position: relative;
    min-width: 145px;
    margin-left: 5px;
    box-shadow: 0px 1px 4px rgba($color-default-black, 0.25);
    border-radius: 5px;
  }

  &__tab-control {
    width: 100%;
    height: 30px;
    padding-left: 15px;
    padding-right: 45px;
    background-color: rgba($color-dark-blue, 0.95);
    background-color: $color-dark-blue;
    // box-shadow: inset 0px 4px 4px rgba($color-default-black, 0.25);
    border-radius: 5px;
    cursor: pointer;

    font-size: 18px;
    line-height: 30px;
    text-align: center;

    &:hover {
      background: $color-dark-xxl-gray;
      background-color: rgba($color-dark-blue, 0.9);
    }

    &:active {
      transform: scale(0.97);
    }

    &--active {
      background-color: $color-orange;

      &:hover {
        background-color: rgba($color-orange, 0.9);
      }
    }
  }

  &__tab-close {
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: $color-light-xxl-gray;
    // box-shadow: inset 0px 4px 4px rgba($color-default-black, 0.25);
    cursor: pointer;

    position: absolute;
    right: 0;
    top: 0;
  }
}
