* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tools-top {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    border: black solid 1px;

    &__menu-area {
      display: flex;
      min-width: 100px;
      min-height: 40px;
      margin-right: 50px;

      background-color: gray;

      button, label {
        // width: 59px;
        height: 44px;
        border-radius: 5px;
        margin: 1px;
        background-color: white;
        border: 2px solid black;
        display: flex;
        align-items: center;
      }

        button:hover,
        label:hover {
          cursor: pointer;
          background: rgb(220, 200, 180);
        }

    }

    &__functional-area {
      height: 100%;
    }

    &__functional-area__rect,
    &__functional-area__circle,
    &__functional-area__line,
    &__functional-area__text,
    &__functional-area__ellipse {
        height: 100%;
        display: flex;
        background-color: gray;

        .tools-top__functional-area__container {
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 32px;
            height: 32px;
          }

          &__btn--click,
          &__btn--keyup {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 4px;
            padding: 2px;
            border: 0;
            border-radius: 5px;
          }

          &__btn--keyup {
            width: 75px;
          }

          &__btn--click {
            cursor: pointer;
          }

          &--family,
          &--select-anchor {
            max-height: 30px;
            margin: 5px;
            border-radius: 5px;
          }

        }
    }

    &__switcher-area {

      &__switcher-lang {
        display: none;
      }

      [for="switcher-lang"] {
        position: relative;
        display: flex;
        align-items: center;
        width: 100px;
        height: 10px;
        padding: 15px;
        border-radius: 50px;
        color: #31b3ff;
        line-height: 10px;
        background: rgb(71, 71, 71);
        box-shadow:
          0 1px 0 rgba(255,255,255,.2),
          inset 0 0 0 5px rgb(60, 60, 60),
          inset 0 6px 6px rgba(0,0,0,.5),
          inset 0 -6px 1px rgba(255,255,255,.2);
        cursor: pointer;
      }

      [for="switcher-lang"]::before {
        content: "EN";
        position: absolute;
        right: 15px;
        color: #000;
      }

      [for="switcher-lang"]::after {
        content: "";
        position: absolute;
        left: 5px; top: 5px;
        display: block;
        width: 45px;
        height: 20px;
        border-radius: 50px;
        background: #ccc linear-gradient(#fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        transition: .5s;
      }

      &__switcher-lang:checked ~ [for="switcher-lang"]::after {
        left: 50px;
      }
    }
}

.visibility {
  display: none;
}
