.modal-sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 7;
  transform: translate(-50%, -50%);
  background-color: rgba($color-blue, 0.95);
  box-shadow: 0px 4px 4px rgba($color-default-black, 0.25);
  border-radius: 5px;
  padding: 30px;
  border-radius: 5px;
  color: #E9ECEF;
  border: 0;

  font-family: $font-family--roboto;
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  text-align: center;

  &__field {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

    input {
      border: 0;
      outline: none;
      border-radius: 5px;
      padding: 10px;
      margin: 10px;

      font: inherit;

      color: $color-light-xxl-gray;
      background: rgba($color-light-gray, 0.5);

      &::placeholder {
        color: $color-gray;
      }

      &:focus {
        transform: scale(1.03);
        box-shadow: 0px 2px 4px rgba($color-default-black, 0.25);
        background-color: $color-dark-gray;
      }
    }
  }

  &__message {
    padding-bottom: 10px;
    font-size: 14px;
    color: $color-orange;
  }

  &__unregistered {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 80%;
    margin-bottom: 20px;

    div {
      color: $color-gray;
    }

    input {
      border: 0;
      background-color: transparent;
      outline: none;
      cursor: pointer;

      font: inherit;
      color: $color-white;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;

      &:hover {
        color: $color-orange;
      }
    }
  }


  &__container-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 190px;

    input {
      color: #E9ECEF;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      background: rgba(206, 212, 218, 0.2);
      outline: none;
      border: 0;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
      font: inherit;

      &:hover {
        background: rgba($color-light-gray, 0.5);
      }

      &:active {
        transform: scale(0.97);
      }
    }

    input:hover {
      color: #F8F9FA;
    }
  }
}
